<h1 style="
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 30px;
    text-align: center;
    color: #212121;
  ">
  Reset Your Password
</h1>

<p style="
    font-size: 16px;
    color: #444444;
    line-height: 1.6;
    margin: 0 0 20px;
  ">
  Hello {{firstName}},
</p>

<p style="
    font-size: 16px;
    color: #444444;
    line-height: 1.6;
    margin: 0 0 30px;
  ">
  We received a request to reset your UFUND account password.
  Click the button below to proceed.
</p>

<div style="text-align: center; margin: 40px 0">
  <a href="{{resetUrl}}" target="_blank" style="
      background-color: #ca141f;
      color: white;
      font-size: 18px;
      font-weight: bold;
      padding: 16px 40px;
      text-decoration: none;
      border-radius: 4px;
      display: inline-block;
    ">
    RESET PASSWORD
  </a>
</div>

<p style="
    font-size: 14px;
    color: #777777;
    line-height: 1.6;
    margin: 30px 0;
    text-align: center;
  ">
  This link will expire in {{expirationHours}} hours.
</p>

<p style="
    font-size: 16px;
    color: #444444;
    line-height: 1.6;
    margin: 0;
  ">
  If you didn’t request this, you can safely ignore this email.
</p>
