name: Deploy NestJS Backend

on:
  push:
    branches:
      - main # deploy only when pushing to main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASS }}
          script: |
            # Check if project exists, pull or clone
            if [ -d ~/nest-backend/.git ]; then
              cd ~/nest-backend && git pull origin main
            else
              git clone https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/Hammadabbasoffc/ufund-backend.git ~/nest-backend
              cd ~/nest-backend
            fi

            # Run Docker (fallback to whichever version is available)
            docker compose down
            docker compose up --build -d
