name: Deploy NestJS Backend

on:
  push:
    branches:
      - main # deploy only when pushing to main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASS }}
          script: |
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"

            if [ -d ~/nest-backend/.git ]; then
              cd ~/nest-backend && git pull origin main
            else
              git clone git@github.com:Hammadabbasoffc/ufund-backend.git ~/nest-backend
              cd ~/nest-backend
            fi

            npm install
            npm run build
            pm2 restart nest-backend || pm2 start dist/main.js --name nest-backend
